@model Prototype.Models.WorkspaceModel

<div id="dropZone" class="workspace">
    @foreach (var widget in Model.Widgets)
    {
        <div class="ui-resizable">
            @widget.CodeSnippet
        </div>
    }
</div>